 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  background-color: #f7f5f2;
}

.hero {
  height: 100vh;

  background-image: url("5978863659272310442.jpg"); /* اسم الصورة */
  background-size: cover;
  background-position: center;

  position: relative;
}

/* كارد الكلام */
.content {
  position: absolute;
  bottom: 80px;
  left: 60px;
  max-width: 520px;

  background: #f5f1ec;
  padding: 35px 40px;
  border-radius: 14px;

  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* النصوص */
.subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #6b5c50;
  font-weight: 500;
}

.title {
  font-size: 62px;
  font-weight: 300;
  line-height: 1.1;
  color: #3f342c;
  margin-bottom: 20px;
}

.desc {
  font-size: 16px;
  line-height: 1.6;
  color: #5a4d44;
}
